.image 
{
  width: 250px;
    content:url(https://www-en.ntut.edu.tw/var/file/6/1006/img/1776/logo_color.svg);
}

.text
{
  font-family:verdana;
  font-size:20px;
  height: 80%; 
  top: 10%; 
  left: 10%; 
	margin: 0 auto;
	width: 90%;
	margin-left: 20px;
  margin-bottom: 10px;
}

.italic_bold
{
  font-family:verdana;
  font-size:20px;
  font-weight: bold;
  font-style: italic;
}
